@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<br>
<div class="row">
    <div class="col-md-6 ">
        <form id="registerForm" asp-route-refCode="@Model.RefCode" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
              <input asp-for="Input.Username" type="username" autocomplete="username" aria-required="true" class="form-control rounded-4" id="floatingUsername" placeholder="name">
              <label asp-for="Input.Username" for="floatingUsername"></label>
              <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
              <input asp-for="Input.PhoneNumber" type="username" autocomplete="username" aria-required="true" class="form-control rounded-4" id="floatingPhone" placeholder="name">
              <label asp-for="Input.PhoneNumber" for="floatingPhone"></label>
              <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
              <input asp-for="Input.Email" type="email" autocomplete="email" aria-required="true" class="form-control rounded-4" id="floatingInput" placeholder="name@example.com">
              <label asp-for="Input.Email" for="floatingInput"></label>
              <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
              <input asp-for="Input.Password" type="password"  autocomplete="new-password" aria-required="true" class="form-control rounded-4" id="floatingPassword" placeholder="Password">
              <label asp-for="Input.Password" for="floatingPassword"></label>
              <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
              <input asp-for="Input.ConfirmPassword" type="password"  autocomplete="new-password" aria-required="true" class="form-control rounded-4" id="floatingConfirmPassword" placeholder="Password">
              <label asp-for="Input.ConfirmPassword" for="floatingConfirmPassword"></label>
              <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
    
    
            <button class="w-100 mb-2 btn btn-outline-primary btn-lg rounded-4 mb-2" type="submit">Sign up</button>
            <div class="mb-4">
                <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
            </div>
        </form>
        <hr>
        <a class="w-100 btn btn-outline-dark btn-lg rounded-4 mb-4" type="submit" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">I am already a user 😁</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
