
<div class="d-flex justify-content-center mt-3">
	<div class="col card text-center shadow shadow-sm" style="width: 18rem;">
	  <div class="card-body">
	    <h5 class="card-title">@ReferralCount</h5>
	    <p class="card-text text-small text-muted">Referrals</p>
	  </div>
	</div>
</div>



@code {
	[Parameter] public int ReferralCount { get; set; }

}