@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center mt-5">
	<h1>Hello, everyone 👋🏻</h1>

	<h3>It's your chance to win big prizes with small amounts</h3>

	<a class="btn btn-lg btn-primary my-4" href="lotteries">Take me to Lotteries  <span>🏃🏻‍♂️</span></a>
</div>



